g_step: 1
s_step: 1000
batch: 4
mixed_precision: True
image_size: 512
guidance_scale: 7.5

model_params: 
  model_id: "stable-diffusion-v1-5/stable-diffusion-v1-5"
  sample_size: 64
  use_conditioning: True 
  train_text_encoder: False
  lora_finetuning: False
  rank: 8

optimizer:
  class: "torch.optim.Adam"
  params:
    betas: [0.9, 0.999]
    weight_decay: 0.0001
    lr: 1e-5
    eps: 1e-8

noise_scheduler: 
  class: "diffusers.schedulers.PNDMScheduler"
  num_steps: 100
  params:
    beta_start: 0.00085
    beta_end: 0.012
    beta_schedule: "scaled_linear"
    num_train_timesteps: 1000
    skip_prk_steps: True